input {
  width: 15rem;
  height: 2rem;
}

button {
  width: 10rem;
  height: 2rem;
}

.registration {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.registration > * {
  margin: auto;
  margin-top: 10px;
}

.login {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.login > * {
  margin: auto;
  margin-top: 10px;
}

.alert {
  width: fit-content;
  margin: 2rem auto;
  font-size: 30px;
  font-weight: 800;
}
