@font-face {
  src: url(fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
  font-family: Libre_Baskerville;
}
:root {
  --img-radius-icon: 10px;
  --img-size-icon: 5em;
}
* {
  box-sizing: border-box;
}

body {
  background-image: url("./images/Body\ BG.jpg");
  background-color: rgb(224, 216, 205);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3125rem;
  line-height: 1.6;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
  line-height: 1;
  margin-bottom: 1em;
}

.topPage {
  display: flex;
  flex-direction: column;
}

.top {
  background-color: red;
  color: #ffff;
  font-family: "Nanum Gothic", sans-serif;
  display: block;
  padding: 0.5rem;
  padding-bottom: 0;
  margin: 0;
  font-weight: bolder;
  font-size: 1.5rem;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  text-shadow: 1px 2px white;
}

.top2 {
  background-color: red;
  font-weight: 700;
  color: #ffff;
  display: block;
  margin: 0;
  padding: 0 0.5rem;
}

/* Navbar*/
.navBar {
  padding: 0 1rem;
  background-color: #ffff;
}
.navItems {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.navlink {
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  font-weight: bold;
  font-size: 1em;
}

.dropdown.active > .navlink,
.navlink:focus {
  color: black;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: #ffff;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  gap: 1rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.list-flex {
  display: flex;
  flex: 1 1 33%;
  flex-direction: row;
  gap: 3rem;
}
.list-flex > * {
  text-decoration: none;
  color: #777;
  border-color: red;
}

.list-flex > *:hover {
  color: black;
}

.dropdown.active > .navlink + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.dropdown > .dropdown-menu > * {
  color: black;
  text-decoration: none;
}

/*Main Body*/

section {
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.content {
  max-width: max-content;
}
.title-Aligned {
  background-color: white;
  justify-content: right;
  width: max-content;
  padding: 0.75rem;
  margin-left: 3rem;
}
.split {
  margin: 0;
  display: flex;
  gap: 1rem;
}
.banner {
  width: 20%;
}

.bannerWlogo {
  width: 250px;
  height: auto;
}

/* College Main */
.college-body {
  width: 80%;
  padding: 2rem;
  border-radius: 20px;
  background-color: #ff8484;
}

.college-split {
  margin: 1rem;
  display: flex;
  flex: 1 1 100%;
  max-width: max-content;
  flex-direction: row;
}

.college-title {
  width: max-content;
  margin: auto;
  margin-top: 0;
  background-color: rgb(246, 0, 0);
  color: white;
  padding: 1rem;
  text-shadow: 2px 2px rgb(0, 0, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.college-desc {
  font-family: "Times New Roman", Times, serif;
  width: 80%;
  background-color: rgb(255, 218, 218);
  padding: 1rem;
}

.college-logo {
  width: 20%;
}

.college-img {
  width: 200px;
  height: auto;
}

/* Side */
.banner {
  display: flex;
  flex-direction: column;
}

/*Offered Course*/

.off-col {
  display: flex;
  position: relative;
  background-color: rgba(255, 132, 132, 0.75);
  width: 100%;
  border-radius: 20px;
}

.off-col-title {
  position: absolute;
  top: -3rem;
  background-color: red;
  color: white;
  width: max-content;
  justify-content: right;
  padding: 1rem;
  margin: 0.5rem 1rem;
  border-radius: 10px;
}

li {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

p {
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px black;
}
