* {
  box-sizing: border-box;
}

:root {
  --padding: 3rem;
}

body {
  background-image: url("./images/Body\ BG.jpg");
  background-color: rgb(224, 216, 205);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3125rem;
  line-height: 1.6;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
  line-height: 1;
  margin-bottom: 1em;
}

.topPage {
  display: flex;
  flex-direction: column;
}

.top {
  background-color: red;
  color: #ffff;
  font-family: "Nanum Gothic", sans-serif;
  display: block;
  padding: 0.5rem;
  padding-bottom: 0;
  margin: 0;
  font-weight: bolder;
  font-size: 1.5rem;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  text-shadow: 1px 2px white;
}

.top2 {
  background-color: red;
  font-weight: 700;
  color: #ffff;
  display: block;
  margin: 0;
  padding: 0 0.5rem;
}

/* Navbar*/
.navBar {
  padding: 0 1rem;
  background-color: #ffff;
}
.navItems {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.navlink {
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  font-weight: bold;
  font-size: 1em;
}

.dropdown.active > .navlink,
.navlink:focus {
  color: black;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: #ffff;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  gap: 1rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.list-flex {
  display: flex;
  flex: 1 1 33%;
  flex-direction: row;
  gap: 3rem;
}
.list-flex > * {
  text-decoration: none;
  color: #777;
  border-color: red;
}

.list-flex > *:hover {
  color: black;
}

.dropdown.active > .navlink + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.dropdown > .dropdown-menu > * {
  color: black;
  text-decoration: none;
}

/*Main Content*/
.container {
  margin: 1rem;
  padding: 3rem 3rem;
  position: relative;
}

.userId {
  position: absolute;
  background-color: #d3d3d3;
  padding: 0.5rem;
  font-size: 1.25em;
  top: 3rem;
  right: 9rem;
}

/*Split*/

.split {
  display: flex;
  flex-direction: row;
}

/*HYMN*/
.hymn {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.cityImg {
  width: 150px;
  height: auto;
  margin: auto;
}

.hymnTitle {
  background-color: #ffff;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 5px;
}

.hymnMain {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 5px;
  margin: 1rem;
}

/*Carousel*/

.carousel {
  width: 60%;
  padding: 5rem 2rem;
  margin: 3rem;
  position: relative;
}

.placeholder {
  background-color: white;
}
/**/

/**/

/**/
