@font-face {
  src: url(fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
  font-family: Libre_Baskerville;
}
:root {
  --img-radius-icon: 10px;
  --img-size-icon: 5em;
}
* {
  box-sizing: border-box;
}

body {
  background-image: url("./images/Body\ BG.jpg");
  background-color: rgb(224, 216, 205);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3125rem;
  line-height: 1.6;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
  line-height: 1;
  margin-bottom: 1em;
}

/* Main Body*/
section {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.content {
  max-width: max-content;
  background-color: #ffff;
}

.split {
  display: flex;
  gap: 1rem;
}
.split :nth-child(1) {
  width: 20%;
}
.split :nth-child(2) {
  width: 80%;
}

.icon {
  width: 100%;
  height: auto;
}

.college {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

/*Side Bar - Main Body*/

.sideBar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.sideBar > :nth-child(1) {
  width: 100%;
  height: auto;
}
.sideImg {
  width: 100%;
  height: auto;
}

.topPage {
  display: flex;
  flex-direction: column;
}

.top {
  background-color: red;
  color: #ffff;
  display: block;
  padding: 0.5rem;
  padding-bottom: 0;
  margin: 0;
  font-weight: bold;
}

.top2 {
  background-color: red;
  color: #ffff;
  display: block;
  margin: 0;
  padding: 0 0.5rem;
}

/* Navbar*/
.navBar {
  padding: 0 1rem;
  background-color: #ffff;
}
.navItems {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.navlink {
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  font-weight: bold;
  font-size: 1em;
}

.navlink:hover {
  color: black;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: #ffff;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  gap: 1rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.list-flex {
  display: flex;
  flex: 1 1 33%;
  flex-direction: row;
  gap: 3rem;
}
.list-flex > * {
  text-decoration: none;
  color: #777;
  border-color: red;
}

.list-flex > *:hover {
  color: black;
}

.dropdown-menu.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.dropdown.active > .dropdown-menu > * {
  color: black;
  text-decoration: none;
}
