@font-face {
  src: url(fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
  font-family: Libre_Baskerville;
}

body {
  --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;

  margin: 0;
  width: 100%;
  display: block;
  align-items: center;
  font-size: 18px;
  background: url(./images/TAGUIG\ CITY\ UNIVERSITY\ ADMISSION.png);
  background-size: cover;
  background-position: absolute;
}

.container {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: right;
}

.container,
.form_input,
.form_button {
  font: 0.75rem "Libre_Baskerville", sans-serif;
}

.form {
  width: 25%;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.form-hidden {
  display: none;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form_title {
  margin-bottom: 2rem;
  text-align: center;
}

.form_message {
  text-align: center;
  margin-bottom: 1rem;
}

.form_message-success {
  color: var(--color-success);
}

.form_message-error {
  color: var(--color-error);
}

.form_input-group {
  margin-bottom: 1rem;
}

.form_input {
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form_input:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}

.form_input-error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form_input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.form_button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.form_button:hover {
  background: var(--color-primary-dark);
}

.form_button:active {
  transform: scale(0.98);
}

.form_text {
  text-align: center;
}

.form_link {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
}

.form_link:hover {
  text-decoration: underline;
}

/*Navigation Bar Header */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
}
.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
  padding: 0px 20px;
}

.main-header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  background-color: rgba(223, 69, 69, 1);
  background-blend-mode: multiply;
  padding: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 2px solid #dddddd;
}

.logo {
  width: 5%;
}
.logo-text {
  display: inline-flex;
}
.welcome-text {
  margin: 1rem;
  color: aliceblue;
}

/* Media Query*/
@media (max-width: 500px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .main-nav {
    display: flex;
    position: fixed;
    left: -200%;
    margin: 0;
    padding-top: 10px;
    gap: 0;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(157, 154, 154);
    width: 100%;
    height: 100%;
    text-align: center left;
    transition: 0.3s;
  }

  .nav ul {
    margin: 0;
    height: 100%;
    display: inline-block;
    align-items: center;
  }
  .nav li {
    display: inline;
    justify-content: center;
  }

  .nav a {
    display: block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
  }

  .nav a:hover {
    background-color: #dddddd;
  }

  .main-nav.active {
    left: 0;
    height: 100%;
  }

  .main-header {
    display: flex;
    background-blend-mode: multiply;
    padding-top: 1rem;
  }

  .welcome-text {
    display: none;
    font-size: 2rem;
    margin: 1rem;
  }

  .container {
    justify-content: center;
    margin: auto;
    min-width: 0;
    padding: 2rem;
  }

  .form {
    width: 75%;
  }
}
